:host {
  background-color: transparent;
}

.cameraPreview {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  border: 3px solid red;
  transform: translate(-50%, -60%);
  z-index: 100000000;
}

#capture {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  z-index: 10000000000000000000000000;
}

#close {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 175px);
  width: 50px;
  height: 50px;
  z-index: 1000;
}

#flip {
  position: absolute;
  bottom: 30px;
  left: calc(50% + 125px);
  width: 50px;
  height: 50px;
  z-index: 100;
}

ion-button::part(native) {
  border-radius: 30px;
}

ion-content {
  --background: transparent !important;
}

.camera-buttons {
  z-index: 10000000000000000000000000;
}
